{% extends "soya/base.html" %}

{% block content %}
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="/">Главня страница</a></li>
	  <li role="presentation"><a href="/soya/info">Информация о сойи</a></li>
	  <li role="presentation"><a href="/soya/product">Товары</a></li>
	  <li role="presentation"><a href="/soya/zakaz">Заказать</a></li>
	</ul>
<div class="soya-index">
	<div class="soya-info">
		<h2>Приветствие</h2>

	<p>Уважаемый посетитель!
	Мы рады приветствовать Вас на нашем сайте. Мы зонимаемся продажай, вырошивание соя.
	Если вы хотите купить сою то мы поможем вам. В этом сайте есть онлайн анкета для тех кто хочет купить сою, если хотите купить пожалуйста заполните анкету. Благодорим за посишение.</p>	
	</div>
</div>
{% endblock %}